@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;700&display=swap');

* {
	padding: 0px;
	margin: 0px;
	border: none;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
    font-family: 'Josefin Sans', sans-serif;
    color: rgb(42, 55, 58);
    font-size: 24px;
    font-weight: 400;
}