@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;700&display=swap');

* {
	padding: 0px;
	margin: 0px;
	border: none;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
    font-family: 'Josefin Sans', sans-serif;
    color: rgb(42, 55, 58);
    font-size: 24px;
    font-weight: 400;
}

.container {
    display: flex;
    min-height: 100vh;
    max-width: 1400px;
    margin: 0 auto;
    box-shadow: 0px 0px 8px 4px rgba(42, 55, 58, 0.2);
}

.header {
    background-color: #65dbfb;
    display: flex;
    flex-direction: column;
    row-gap: 60px;
    padding: 40px;
}

.heading {
    font-weight: 700;
    font-size: 26px;
    margin-bottom: 10px;
}

.header__heading {
    color: #fff;
    display: inline-flex;
    order: 2;
    max-width: 300px;
    font-size: 34px;
    text-shadow: 1px 1px 1px rgba(42, 55, 58, 0.2);
}

.header__photo {    
    max-width: 300px;
    display: inline-flex;
    align-self: center;
    border: 8px solid #fff;
    order: 1;
    box-shadow: 0px 0px 8px 2px rgba(42, 55, 58, 0.2);
}

.header__img {
    display: block;
    max-width: 100%;
    height: auto;
    object-fit: cover;
    border: 4px solid #65dbfb;
}

section{
    margin-bottom: 10px;
    border-bottom: 4px solid #65dbfb;
    padding: 25px;
    width: 100%;
}

section:first-of-type {
    padding-top: 0;
}

section:last-of-type {
    border-bottom: 4px solid transparent;
}

ul {
	list-style: none;
    padding-left: 14px;
    margin-left: 18px;
    border-left: 4px solid #65dbfb;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.main {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 40px;
}

.works__link {
    color: inherit;
}